@{
	ViewData["Title"] = "Create Element";
}

<div class="text-center">
    <h1 class="display-4">Create Element</h1>

    <form method="post">
        Name: <input required type="text" name="name" /><br />
        Category ID: <input required type="number" name="catid" /><br />
        Data: <input type="text" name="data" value="{}" /><br />
        Image URI: <input type="text" name="image" /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
