@{
	ViewData["Title"] = "Delete Element";
}

<div class="text-center">
    <h1 class="display-4">Delete Element</h1>

    <form method="post">
        ID: <input required type="number" name="id" /><br />
        <input type="submit" value="Submit" />
    </form>
</div>
