@{
	ViewData["Title"] = "Search Element";
}

<div class="text-center">
    <h1 class="display-4">Search Element</h1>

    <form method="post">
        Name: <input type="text" name="name" /><br />
        Category ID: <input type="number" name="catid" /><br />
        Data: <input type="text" style="width: 90%" name="data" value="" /><br />
        <input type="submit" value="Search" />
    </form>
</div>
