@model TRPO_MVC.Models.CategoryModel
@{
	ViewData["Title"] = "Update Category";
}

<div class="text-center">
    <h1 class="display-4">Update Category</h1>

    <form method="post">
        <input hidden required type="number" name="id" value="@this.Model.ID"/>
        Name: <input required type="text" name="name" value="@this.Model.Name"/><br />
        Parent ID: <input type="number" name="parid" value="@this.Model.ParentID"/><br />
        <input type="submit" value="Submit" />
    </form>
</div>
